.main {
  background-color: var(--background-tertiary);
}

.homepage {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: center;
  margin: 0 10px;
}

.content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 720px;
  min-width: 360px;
  margin-bottom: 10px;
}

.sidebar {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 320px;
  min-width: 240px;
  margin-left: 20px;
}

.guildCard {
  display: flex;
  flex-direction: row;
  margin: 5px;
  overflow: hidden;
  background: var(--background-primary);
  border-radius: 10px;
  box-shadow: var(--elevation-low);
  text-decoration: none;
  cursor: pointer;
}

.guildInfo {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 10px;
  align-content: stretch;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--text-muted);
  font-size: 12px;
  line-height: 14px;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.submitOptions {
  display: flex;
  flex-direction: column;
  margin: 10px 5px 0;
  background: var(--background-primary);
  border-radius: 4px;
  border: 1px solid var(--border-tertiary);
}

.submitButton {
  display: flex;
  align-items: center;
  margin: 5px 10px 0;
  text-decoration: none;
  color: var(--text-muted);
  cursor: pointer;
}

.submitButton:hover {
  transform: translateY(-1px);
}

.guildDetail {
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
  margin: 10px 5px 0;
  padding: 10px 20px;
  border-radius: 4px;
  overflow: hidden;
  background: var(--card-background);
  box-shadow: var(--elevation-low);
}

.guildList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.guildList:hover {
  color: orange;
}

.guild {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
}

.guild:hover {
  background-color: var(--background-tertiary);
}

.guildCurrent {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tooltips {
  width: 200px;
  padding: 0 !important;
  box-sizing: border-box;
  background-color: #fff !important;
  opacity: 1 !important;
  box-shadow: var(--elevation-high) !important;
  border: 1px solid var(--border-secondary) !important;
}
/* .tooltips::before {
  border: none !important;
} */

.tooltips::after {
  border: none !important;
}
